<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    Password Reset Request
                </div>
                <div class="card-body">
                    <p class="card-text">Someone asked for password reset for email <strong>{{ email }}</strong>.</p>
                    <p class="card-text">Follow the link below to reset your password:</p>
                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                        class="btn btn-primary">Reset Password</a>
                    <p class="mt-3">Your username, in case you've forgotten: <strong>{{ user.get_username }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>