{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col text-center" style="width: 500px;">
      <h1>Сброс пароля</h1>
      <br>
      <p>На ваш почтовый ящик отправлено писльмо с инструкцией</p>
      <p>Если вы не получили письмо, проверьте пожалуйста правильность указанного адреса. Или свяжитесь с менеджером.
      </p>
    </div>
  </div>
</div>
{% endblock %}