{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <div class="row d-flex" style="gap: 1rem;">
        {% for month in months %}
        <div class="col-md-3 mb-4 d-flex">
            <div class="card d-flex flex-column" style="width: 100%;">
                <img src="{{ month.logo.url }}" class="card-img-top" alt="#" style="object-fit: cover;">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h5 class="card-title">{{ month.name }}</h5>
                    <ul class="flex-grow-1">
                        {% for week in month.week_set.all %}
                        <li><a href="{% url 'weeks' month_id=week.month_id %}">{{ week.name }}</a> -
                            {{ completed_lessons_by_week|get:week.id|default:0 }}/{{ total_lessons_by_week|get:week.id|default:0 }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}