{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Переписка с
    {% if chat.partner_role == 'student' %}
    {{ chat.partner.student_profile.first_name }} {{ chat.partner.student_profile.last_name }}
    {% elif chat.partner_role == 'teacher' %}
    {{ chat.partner.teacher_profile.first_name }} {{ chat.partner.teacher_profile.last_name }}
    {% elif chat.partner_role == 'manager' %}
    {{ chat.partner.manager_profile.first_name }} {{ chat.partner.manager_profile.last_name }}
    {% endif %}
  </h2>

  <div class="row mt-4">
    <div class="col-md-8 overflow-auto" style="height: 600px;">
      {% for message in messages %}
      <div
        style="display: flex; align-items: start; {% if message.sender == request.user %}justify-content: flex-end;{% else %}justify-content: flex-start;{% endif %} margin-bottom: 10px;">
        <img src="{% if message.sender == request.user %}
    {% if request.user.student_profile %}
        {{ message.sender.student_profile.photo.url }}
    {% elif request.user.teacher_profile %}
        {{ message.sender.teacher_profile.photo.url }}
    {% elif request.user.manager_profile %}
        {{ message.sender.manager_profile.photo.url }}
    {% endif %}
{% else %}
    {% if message.sender.student_profile %}
        {{ message.sender.student_profile.photo.url }}
    {% elif message.sender.teacher_profile %}
        {{ message.sender.teacher_profile.photo.url }}
    {% elif message.sender.manager_profile %}
        {{ message.sender.manager_profile.photo.url }}
    {% endif %}
{% endif %}"
          style="width: 100px; height: 100px; {% if message.sender == request.user %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %}">
        <div class="card mb-4 border-primary">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <strong>
                {% if message.sender.student_profile %}
                {{ message.sender.student_profile.first_name }} {{ message.sender.student_profile.last_name }}
                {% elif message.sender.teacher_profile %}
                {{ message.sender.teacher_profile.first_name }} {{ message.sender.teacher_profile.last_name }}
                {% elif message.sender.manager_profile %}
                {{ message.sender.manager_profile.first_name }} {{ message.sender.manager_profile.last_name }}
                {% endif %}
              </strong>
              <small class="text-muted">{{ message.timestamp }}</small>
            </div>
            <p class="mt-2">{{ message.content }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No messages yet. Start the conversation!</p>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <form method="post" class="border p-4 rounded">
        {% csrf_token %}
        <div class="form-group">
          {{ form.content.label_tag }}
          <input type="text" name="content" class="form-control" value="{{ form.content.value|default:'' }}" required
            style="height: 300px;">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Отправть сообщение</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}